# Pengenalan Python

In [2]:
# numerik : integrer, float, complex

# integrer
angka = 7
print(angka)
type(angka)

7

int

In [ ]:
# bil. kompleks
angka_kompleks = 2+5
print(angka_kompleks)

In [ ]:
# Tipe Float

In [3]:
5 + 4

9

In [6]:
print(5+5)
print(6+9)

10
15

In [5]:
9+10

19

In [8]:
angka = 4.7e-4
print(angka)

0.00047

In [9]:
# string : sequence of char
nama = "Azis"
print(nama)
type(nama)

Azis

str

In [11]:
hari = 'Jum\'at'
print(hari)

Jum'at

In [13]:
contoh_str ="s\\d"
print(contoh_str)

s\d

In [16]:
lirik = """kamu dimana
dengan siapa
semalam berbuat apa"""
print(lirik)

kamu dimana
dengan siapa
semalam berbuat apa

## String

In [26]:
# Selecting character
nama = "Afif A. Iskandar"
nama[-3]

'd'

In [ ]:
# Sub String

# Slicing

In [27]:
nama[1:10:2]

'ffA s'

In [28]:
nama[0:4]

'Afif'

In [29]:
nama[8:1]

''

In [33]:
# String formatting

# f-string
nama = "Budi"
usia = 17
print(f"Nama Kamu adalah : {nama} dan usia kamu adalah {usia}")

Nama Kamu adalah : Afif dan usia kamu adalah 17

### User input program

In [36]:
nama = input("Masukan nama anda : ")
usia = input("Masukkan usia anda : ")
print(f"Nama Kamu adalah : {nama}\ndan usia kamu adalah {usia}")

Nama Kamu adalah : RAI
dan usia kamu adalah 9

In [37]:
True

True

In [38]:
False

False

In [39]:
is_married = True
print(is_married)
type(is_married)

True

bool

In [41]:
1000 > 500

True

In [44]:
a = 30
print(a)

30

In [45]:
a == 25

False

In [50]:
# var assignement

a = b = c = 15
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : 15
b : 15
c : 15

In [51]:
# Variable
a, b, c = 1, 46, 2
print(f"a : {a}")
print(f"b : {b}")
print(f"c : {c}")

a : 1
b : 46
c : 2

## Operasi Aritmatika

In [54]:
# operasi aritmatika
angka_1 = 7
angka_2 = 3

print(f"hasil penjumlahan : {angka_1 + angka_2}")
print(f"hasil penjumlahan : {angka_1 - angka_2}")
print(f"hasil penjumlahan : {angka_1 * angka_2}")
print(f"hasil penjumlahan : {angka_1 / angka_2}")
print(f"hasil penjumlahan : {angka_1 // angka_2}")
print(f"hasil penjumlahan : {angka_1 ** angka_2}")
print(f"hasil penjumlahan : {angka_1 % angka_2}")

hasil penjumlahan : 10
hasil penjumlahan : 4
hasil penjumlahan : 21
hasil penjumlahan : 2.3333333333333335
hasil penjumlahan : 2
hasil penjumlahan : 343
hasil penjumlahan : 1

In [61]:
# operasi string
string_1 = "Afif"
string_2 = "Iskandar"

print(f"Concatination : {string_1 + ' ' +string_2}")
print(f"Repeating : {string_1 * 5}")  # str & int

Concatination : Afif Iskandar
Repeating : AfifAfifAfifAfifAfif

## Comparison Operator

In [66]:
a = 10
b = 8

print(f"a == b (sama dengan) : {a==b}")
print(f"a !=b (tidak sama dengan) : {a !=b}")
print(f"a > b (lebih besar  : {a > b}")
print(f"a >= b (lebih besar sama dengan : {a >=b}")
print(f"a < b (lebih kecil  : {a < b}")
print(f"a <= b (lebih kecil sama dengan  : {a <= b}")

a == b (sama dengan) : False
a !=b (tidak sama dengan) : True
a > b (lebih besar  : True
a >= b (lebih besar sama dengan : True
a < b (lebih kecil  : False
a <= b (lebih kecil sama dengan  : False

### String Manipulation

In [78]:
nama = "Afif A. Iskandar"

In [68]:
nama.upper()

'AFIF A. ISKANDAR'

In [76]:
nama.lower()

'afif a. iskandar'

In [75]:
nama.upper()

'AFIF A. ISKANDAR'

In [79]:
print(nama)

Afif A. Iskandar

In [81]:
nama.capitalize()

'Afif a. iskandar'

In [82]:
nama.title()

'Afif A. Iskandar'

## Tipe data majemuk

In [84]:
# list[] & Tuple()

my_tuple = (1,2,3,5, "Afif, True, (1,2,4)")
my_list = [1,2,3,5, "Afif, True, (1,2,4)"]

In [85]:
print(type(my_tuple))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [86]:
# hitung data yang ada di dalam tuple & list
len(my_tuple)

5

In [87]:
nama

'Afif A. Iskandar'

In [89]:
len(nama)

16

In [90]:
my_tuple

(1, 2, 3, 5, 'Afif, True, (1,2,4)')

In [91]:
my_tuple[4]

'Afif, True, (1,2,4)'

In [92]:
my_tuple[-1]

'Afif, True, (1,2,4)'

In [94]:
my_list[-2]

5

In [95]:
my_tuple[1:3]

(2, 3)

In [96]:
my_list[1:5]

[2, 3, 5, 'Afif, True, (1,2,4)']

tuple : imutable
list : mutable

In [97]:
my_list[4] = False

In [99]:
my_tuple[4] = False

TypeError: 'tuple' object does not support item assignment

### List Method

In [100]:
# Menambah data pada list
a = [1, 2, 3, 4, 5]

In [101]:
# append
a.append(100)

In [102]:
a

[1, 2, 3, 4, 5, 100]

In [104]:
# insert
a.insert(3, 46 )

In [111]:
a

[1, 2, 3, 4, 5]

In [106]:
# menghapus data
a

[1, 2, 3, 46, 4, 5, 100]

In [107]:
# hapus angka 100
a.remove(100)

In [108]:
a

[1, 2, 3, 46, 4, 5]

In [109]:
# hapus data di lokasi ke 3
del a[3]

In [110]:
a

[1, 2, 3, 4, 5]

## Python Dictionary

In [112]:
biodata = {'nama': 'Afif',
           'usia':17,
           'pekerjaan':'instruktur DS'}
print(biodata)

{'nama': 'Afif', 'usia': 17, 'pekerjaan': 'instruktur DS'}

In [113]:
biodata['nama']

'Afif'

In [114]:
biodata['nama'] = 'budi'

In [115]:
biodata

{'nama': 'budi', 'usia': 17, 'pekerjaan': 'instruktur DS'}

In [116]:
biodata['status'] = 'Menikah'

In [117]:
biodata

{'nama': 'budi', 'usia': 17, 'pekerjaan': 'instruktur DS', 'status': 'Menikah'}

In [118]:

# delete item
del biodata['status']

In [119]:
biodata

{'nama': 'budi', 'usia': 17, 'pekerjaan': 'instruktur DS'}

In [2]:
a = float(input("Masukkan angka: "))
type(a)

float